.category-page-container {
  min-height: 90vh;
}

.category-banner-container {
  height: 200px;
  background-color: #bfdbfe;
  display: flex;
  justify-content: center;
  align-self: center;
  /* color: white; */
}
